@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  background-color: #EDEEF0;
  overflow-x: hidden;
}

img {
  user-select: none;
}

*::selection {
  background: #688ED8;
}

.crop1 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 90% 100%, 85% 90%, 15% 90%, 10% 100%, 0 100%);
}

@keyframes bounce-horizontal {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(2px);
  }
}
.animate-bounce-horizontal {
  animation: bounce-horizontal 1s infinite;
}

@keyframes scrollRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scrollRight {
  display: flex;
  animation: scrollRight 10s linear infinite;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-scrollLeft {
  display: flex;
  animation: scrollLeft 10s linear infinite;
}